<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Monitoria</a>
      </li>
      <li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span> Listas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=d2cf941505&view=att&th=15551f11b5dd6c85&attid=0.1&disp=safe&realattid=f_ipg9u3bn0&zw&saddbat=ANGjdJ-fKIMgsqaPP1QmGo0S9Rnj_z9mKDDlWUTMbd7QrNJtgkJwsMqEX0_ljH6uIqx-ojjcDLLnrxRxr12ZQNyMMaztPV6OsbTS9di5eFxKm7dEqrNz6kuSIE_g6m0AlUoDT7TVb7gmnGwJS_0FBRKkpW_xPs_7f5wPqnP6_k1AAvxO39taOGMZJnPW4WFBL1-7d1e_vla7R4P6nN5rCx3rKbC59mYXa13TXVF68Kd4GAw3ZiR2MhE-lsytgAR6eodiMeZ_KV32zRPqCfeOHZA3xLsBUHUE82hbYqaDMJqBBh8gp8hyeitLaAfmuIa_uC0Oqss_yfzhblpfYoWywxmG-d4R0txRX5QjWn55UljbU8iPbAXFYREs070pRk1TKdDkMifl5zstKO1Lx0sDqsmIJiVhTpLvJOnzqP9um2QyiFve3-6Q-2jeLU6Fv4R4j2R3PH_mYMzoFGygvAcwV3y2ukRV_hsz8iFmF16TB5bbzi4wPWBLnKuzFxEK8xxNAb_DVVzVuoibU103EA0NW5kiA1HP93y-rcOcOOOq_IamMipqFys83KJ3NpsBZd_304sqqWceNBjhuLV6nGZldLtwi6oZ8FbcGp4lI2BXATbwsQVQL896btLpf7lwjXdoIvF3fYbh0g7FWkDmKbyT">Lista 1 (Marcel)</a></li>
<!--
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php">Getting Started with PHP on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-java">Getting Started with Java on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-go">Getting Started with Go on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-clojure">Getting Started with Clojure on Heroku</a></li>
            <li><a href="https://devcenter.heroku.com/articles/getting-started-with-scala">Getting Started with Scala on Heroku</a></li>
 -->           <li class="divider"></li>

            <li><a href="https://doc-0g-0s-docs.googleusercontent.com/docs/securesc/dpc5kp0jpdj5ffkfnqg0fniq3bkooldj/u10haov2u82cv8oqvc2p2r797gr2nu53/1466784000000/13726537337472282477/13726537337472282477/0B6msurscmUR9NHM3dGtaVDY1R3M?e=download&nonce=tl32bun2c8oju&user=13726537337472282477&hash=rhjdvmjgrjtnig6vul4ru7fl1pl6m41e">Lista Treino (Jasane)</a></li>
            
          </ul>
      
           </li>  
<!--
        <li>   <a href="#"><span class="glyphicon glyphicon-check"></span> Correções</a>
             </li> 
-->
        <li> <a href="#avisos"><span class="glyphicon glyphicon-info-sign"></span> Avisos</a>
           </li>  <li>   <a href="#datas"><span class="glyphicon glyphicon-calendar"></span> Datas</a>
           </li>  <li>    <a href="#material"><span class="glyphicon glyphicon-paperclip"></span> Material de Apoio</a>
           </li>  <li>    <a href="mailto:saneschio@gmail.com"><span class="glyphicon glyphicon-envelope"></span> Duvidas</a>
      </li>  

    </ul>
<!--
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
      </li>
    </ul>
-->
  </div>
</nav>
