<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
<!--
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
   
-->
       <h1> Algoritmos e Programação I</h1>
    <p>Pàgina da monitoria para auxilio na matéria e repositório de questões e soluções.</p>
<!--
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
-->
  </div>
</div>
<!--
<div class="container">
  
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
  </div>  row 
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

-->

    
   <div class="jumbotron text-center" style="background-color:#fff; color:#000"> 
    <div class="container" id="avisos">
  <h1>Avisos</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
     
        <div class="alert alert-danger text-center" role="alert">
             <h3><span class="glyphicon glyphicon-info-sign"></span> </h3>
    P1 PRÓXIMA TERÇA 28/06
  </div>
<!--
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">Heroku Button</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
-->
    </div>
<!--
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/deploying-nodejs">Deploying Node Apps on Heroku</a></li>
      </ul>
    </div>
-->
  </div> <!-- row -->

</div>
    </div>
    <div class="jumbotron text-center" style="background-color:#fff; color:#000"> 
    <div class="container" id="datas">
  <h1>Datas</h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
     
        
             <h3><span class="glyphicon glyphicon-pencil"></span> Provas </h3>
  
      <ul>
        <li><b>P1</b> 28/06</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-list-alt"></span> Listas</h3>
<ul>
        <li><b>L1</b> 28/06</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-user"></span> Monitoria</h3>
<ul>
        <li><b>Revisão P1</b> 27/06 - 14:00 - 17:30</li>
     <li><b>Revisão P1</b> 28/06 - 15:00 - 18:30</li>
      </ul>
    </div>

            
            </div> <!-- row -->

</div>
    </div>
    
  <div class="jumbotron text-center" style="background-color:#fff; color:#000">  
    <div class="container" id="material">
  <h1>Material de Apoio</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
     
 <a type="button" class="btn btn-lg btn-primary" href="http://downloads.sourceforge.net/project/visualg30/VISUALG3_REV60.rar?r=https%3A%2F%2Fsourceforge.net%2Fprojects%2Fvisualg30%2F&ts=1466787693&use_mirror=ufpr"><span class="glyphicon glyphicon-download"></span> Download VisuAlg</a>
      </div>
  </div> <!-- row -->

</div>  
    </div>
<footer class="container-fluid text-center" style="background-color:#fff; color:#000">
  <p>Monitoria de Algoritmos e Programação I - Jasane Schio - UFMS - CPCX</p>
</footer> 
</body>
</html>
